Repository STW-24-25/Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(workflows
  descargas/precios_medios_2019.xlsx
  descargas/precios_medios_2020.xlsx
  descargas/precios_medios_2021.xlsx
  descargas/precios_medios_2022.xlsx
  descargas/precios_medios_2023.xlsx
  descargas/precios_medios_2024.xlsx
  descargas/precios_medios_2025.xlsx
Due: none

fix(workflows): add libcrypto1.1 for mongodb memory server in ci
  .github/workflows/main.yml
Due: none

fix(workflows): use alternative libssl1.1 package for mongodb memory server
  .github/workflows/main.yml
  README.md
  src/test/user.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(workflows)
  .github/workflows/deploy.yml
Due: none

fix(workflows): 2 attemp
  .github/workflows/main.yml
Due: none

fix(workflows): 3 attemp
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/security.yml
Due: none

fix(workflows): 4 attemp
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/security.yml
Due: none

fix(workflows): 5 attemp
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/security.yml
Due: none

refactor: implementar servicio de usuario en controlador
  CHANGELOG.md
  package-lock.json
  package.json
  src/controllers/user.controller.ts
  src/test/user.controller.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(parcel): parcel controller and parcel model add + docs swagger
  src/controllers/parcel.controller.ts
  src/middleware/auth.ts
  src/middleware/validator/parcel.schemas.ts
  src/middleware/validator/user.schemas.ts
  src/models/parcel.model.ts
  src/routes/index.ts
  src/routes/parcel.routes.ts
  src/routes/user.routes.ts
  src/services/parcel.service.ts
  src/test/parcel.controller.test.ts
  src/test/parcel.service.test.ts
  src/test/user.controller.test.ts
  src/types/sigpac-client.d.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(parcel): parcel weather data with aemet-api
  CHANGELOG.md
  package-lock.json
  package.json
  src/models/parcel.model.ts
  src/services/parcel.service.ts
  src/test/parcel.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(docs): fix api_structure.md
  api_structure.md
Due: prettier --write

feat(users): updated some methods and jwt handling
  src/controllers/user.controller.ts
  src/jobs/jobs.config.ts
  src/middleware/auth.ts
  src/middleware/validator/user.schemas.ts
  src/models/user.model.ts
  src/routes/parcel.routes.ts
  src/routes/user.routes.ts
  src/services/user.service.ts
  src/test/user.controller.test.ts
  src/test/user.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(products): implemented /products/{id} (should refactor to service and need to do testing)
  src/controllers/product.controller.ts
  src/middleware/validator/product.schemas.ts
  src/routes/product.routes.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(products): separated in service / controller, needs tests
  src/controllers/product.controller.ts
  src/routes/product.routes.ts
  src/services/product.service.ts
  src/test/user.controller.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(products): added all and ytd fields
  src/routes/product.routes.ts
  src/services/product.service.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(prices): fixed historical import and typos in model
  package-lock.json
  package.json
  src/models/parcel.model.ts
  src/services/price.service.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(product): added tests for product service
  README.md
  src/test/product.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(forum): model, controller, service, zod + swagger
  src/controllers/forum.controller.ts
  src/middleware/validator/forum.schemas.ts
  src/middleware/validator/message.schemas.ts
  src/models/forum.model.ts
  src/models/message.model.ts
  src/models/user.model.ts
  src/services/forum.service.ts
  src/test/forum.controller.test.ts
  src/test/forum.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Add files via upload
  AgroNET.png
Due: none

Update README.md
  README.md
Due: prettier --write

feat(infra): aws development enviroment
  .github/workflows/deploy.yml
  Dockerfile
  aws/cfm-agronet.yml
  src/test/forum.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(infra): javascript v2 switch v3
  .github/workflows/deploy.yml
Due: none

fix(workflow): role arn fix
  .github/workflows/deploy.yml
Due: none

fix(workflow + infra): dev env fix
  .github/workflows/deploy.yml
  aws/cfm-agronet.yml
Due: none

fix(infa): workflow + infra fixes
  .github/workflows/deploy.yml
Due: none

fix(infra): final fix
  .github/workflows/deploy.yml
  aws/cfm-agronet.yml
Due: none

fix(workflows): fix worflow arn
  .github/workflows/deploy.yml
Due: none

fix(worflow): ecr repository name fix
  .github/workflows/deploy.yml
Due: none

fix(workflow): ec2 image pull from ecr
  .github/workflows/deploy.yml
Due: none

feat(infra): https conf
  .github/workflows/deploy.yml
  aws/cfm-agronet.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

feat(forums): added forum endpoints swagger & routes
  src/app.ts
  src/controllers/forum.controller.ts
  src/middleware/validator/forum.schemas.ts
  src/models/forum.model.ts
  src/routes/forum.routes.ts
  src/routes/user.routes.ts
  swagger_css/theme.css
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(dev): full https container endpoint
  .github/workflows/deploy.yml
  Dockerfile
  aws/cfm-agronet.yml
  src/server.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(dev): infra migration
  .github/workflows/deploy.yml
  aws/cfm-agronet.yml
Due: none

fix(routes, users): updated routes & user model
  src/models/user.model.ts
  src/routes/forum.routes.ts
  src/routes/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(stats): added stats endpoint & tests
  src/controllers/stats.controller.ts
  src/models/user.model.ts
  src/routes/stats.routes.ts
  src/services/stats.service.ts
  src/test/product.service.test.ts
  src/test/stats.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(aws): dev infra https
  aws/cfm-agronet.yml
Due: none

Group all admins enpoints in one section
  src/routes/forum.routes.ts
  src/routes/user.routes.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.json)) or (any of: *.md)
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{js,jsx,ts,tsx}
