Repository STW-24-25/Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "jest --bail --findRelatedTests --passWithNoTests"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(multer): multer upgrade
  .github/workflows/main.yml
Due: none

feat(ws): added update message functionality to ws
  src/middleware/validator/forum.schemas.ts
  src/sockets/forumSocket.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(usr): fixed unique clause not excluding soft deleted accounts
  src/models/user.model.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(alerts): added alerts endpoint for geojson data, cache and refresh
  src/config/aemet.config.ts
  src/controllers/alert.controller.ts
  src/controllers/notification.controller.ts
  src/jobs/aemet.job.ts
  src/jobs/jobs.config.ts
  src/routes/alert.routes.ts
  src/routes/index.ts
  src/routes/notification.routes.ts
  src/server.ts
  src/services/alert.service.ts
  src/services/parcel.service.ts
  src/test/aemet.config.test.ts
  src/test/parce.service.init.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(auth): added more auth tests
  src/models/user.model.ts
  src/services/auth.service.ts
  src/services/user.service.ts
  src/sockets/forumSocket.ts
  src/test/auth.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(product): added more product tests
  src/services/product.service.ts
  src/sockets/forumSocket.ts
  src/test/product.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(s3): added more s3 tests
  src/test/s3.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(subs): added subscription service tests, fixed some console logs
  src/lambda/notificationHandler.ts
  src/test/stats.service.test.ts
  src/test/subscription.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(usr): added more user service tests
  src/services/user.service.ts
  src/test/user.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(msg): fixed edit message, changed swagger json endpoint
  src/app.ts
  src/middleware/validator/forum.schemas.ts
  src/models/message.model.ts
  src/models/user.model.ts
  src/sockets/forumSocket.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(sns): added sns config tests
  src/models/message.model.ts
  src/test/sns.config.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(alert): added alert controller and service tests
  src/test/alert.controller.test.ts
  src/test/alert.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(msg): delete message fix
  src/middleware/validator/forum.schemas.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(doc): added general doc v 0.1
  doc/DEPRECATED/api_structure.md
  doc/DEPRECATED/internal.md
  doc/DEPRECATED/sources.md
  doc/README.md
Due: prettier --write

test(notif): added notification tests
  src/services/notification.service.ts
  src/test/notification.controller.test.ts
  src/test/notification.service.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(doc): more doc, updated readme
  README.md
  doc/README.md
  images/AgroNET.png
  images/favicon.svg
Due: prettier --write

fix(user): model
  src/models/user.model.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(doc): update doc
  aws/prod/README.md
  doc/README.md
Due: prettier --write

docs(readme): update frontend testing section with cypress details and covered scenarios
  doc/README.md
Due: prettier --write

fix(precios): fixed precios and product images
  descargas/precios_medios_2025.xlsx
  package-lock.json
  package.json
  src/scripts/clear-products.ts
  src/scripts/getUniqueProductNames.ts
  src/scripts/populate-historicos.ts
  src/scripts/uploadProductImages.ts
  src/services/product.service.ts
  src/utils/db.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(doc): more doc
  doc/ARQ_doc.md
  doc/INFRA_doc.md
  doc/README.md
  doc/SNS_doc.md
  images/infra.jpeg
Due: prettier --write

docs(readme): enhance frontend section
  doc/README.md
Due: prettier --write

docs(readme): update user and admin validation details in e2e tests section
  doc/README.md
Due: prettier --write

docs(doc): updated doc
  README.md
  doc/README.md
  images/AgroNET.png
  images/dbdiagram.png
Due: prettier --write

Update README.md
  doc/README.md
Due: prettier --write

fix(forum): fix
  doc/README.md
  src/services/message.service.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(doc): almost done doc
  doc/README.md
Due: prettier --write

docs(swagger): fix server
  src/utils/swagger.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Add slides
  doc/slides.pdf
Due: none

Update SNS_doc.md
  doc/SNS_doc.md
Due: prettier --write

fix(infra): infra fix
  aws/prod/README.md
  aws/prod/compute/backend-compute.yml
  aws/prod/compute/frontend-compute.yml
  aws/prod/network/endpoints.yml
  aws/prod/network/load-balancers.yml
  aws/prod/network/vpc.yml
  aws/prod/security/security-groups.yml
  descargas/precios_medios_2025.xlsx
  error.txt
  log.txt
  package-lock.json
  package.json
  src/lambda/notificationHandler.ts
  src/scripts/clear-products.ts
  src/scripts/populate-historicos.ts
  src/services/price.service.ts
  src/utils/db.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(aemet): aemet upgrade
  package-lock.json
  package.json
Due: prettier --write

Delete package-lock.json
  package-lock.json
Due: prettier --write

fix(infra): options and timeouts fix
  aws/prod/compute/backend-compute.yml
  src/server.ts
  src/utils/db.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(infra): options and timeouts fix
  src/server.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests
