Repository STW-24-25/Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Update README.md
  doc/README.md
Due: prettier --write

update slides
  doc/slides.pdf
Due: none

fix(cors): fixed cors
  src/app.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Update server.ts
  src/server.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Update app.ts
  src/app.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Update backend-compute.yml
  aws/prod/compute/backend-compute.yml
Due: none

Update frontend-compute.yml
  aws/prod/compute/frontend-compute.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.json)) or (any of: *.md)
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{js,jsx,ts,tsx}
